<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162625826936-3k4mf967u42r6jpvm0e91km9qk83qf13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162625826936-3k4mf967u42r6jpvm0e91km9qk83qf13</string>
	<key>API_KEY</key>
	<string>AIzaSyAwxub6cyHKymm5jFT6CxBd65xi91MptGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>162625826936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.park.daliyMusic</string>
	<key>PROJECT_ID</key>
	<string>daily-music-a3d6e</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-music-a3d6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162625826936:ios:976de6424d7d6fd341bd8d</string>
</dict>
</plist>